* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #00adef;
    font-family: 'Roboto';
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    color: #fff;
}

/* Portrait layout (default) */
.app {
    margin: 25% auto;
    text-align: center;
}

.app img {
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

h1 {
    font-size: 24px;
    font-weight: lighter;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
}

button {
    margin: 0 auto;
    width: 70%;
    color: #00adef;
    background: #fff;
    text-transform: uppercase;
    padding: 16px 14px 14px 14px;
    font-weight: 700;
    border: none;
    font-size: 12px;
    letter-spacing: 0.1em;
}

button:focus {
    outline: 0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 5px;
}

.event.listening {
    display: block;
}

.event.received {
    display: inline-table;none;
}

.blink {
    margin: 30px auto;
    max-width: 70%;
}
